body{
    background-color: #08223b;
    color: white;
}
hr{
    border: 1px solid white;
}
h2{
    text-align: center;
}
p{
    text-align: center;
    font-size: 22px;
}
ul{
    font-size: 22px;
}
li{
    font-size: 22px;
    
}
.links{
    text-align:center;
    font-size: 40px;

}
form{
    background-color: lightskyblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    color: white;
}
.tabela{
    margin-left: 32%;
    text-align: center;
}
