body{
    background-color: #08223b;
}
hr{
    border: 2px solid white;
    border-color:  white;
    border-style:  groove;
}
form{
    background-color: lightskyblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    color: white;
}
